<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body style="vertical-align: center; text-align:center; font-family: Times New Roman">
        <title>View Randomly Generated Prompt</title>
        <br>
        <h1><b>Charades Prompts Application</b></h1>

        <h3><b>View Randomly Generated Prompt</b></h3>
        <p style="font-size:17px;">Your randomly generated prompt is: <b>{{result}}</b></p>

        <b><a style="font-size:17px;" href="{{url_for('generate')}}">Click here to generate another prompt</a></b><br>
        <b><a style="font-size:17px;" href="/">Click here to go back to home</a></b>
    </body>
</html>
